.questions
  h4= link_to 'Ask question', new_question_path

h1.display-4 All Questions
= render @questions
/
/ h1.display-4 All Questions
/ table.table.table-hover
/   tr.table-primary
/     th.text-center[scope="col"]
/       |  Title
/     th.text-center[scope="col"]
/       |  Body
/     th.text-center[colspan="1" scope="col"]
/       |  Actions
/   - @questions.each do |question|
/     tr
/       td.text-center[scope="col"] = question.title
/       td.text-center[scope="col"] = question.body
/       td.text-center[scope="col"] = link_to 'show', question_path(question)
