div id="answer-#{answer.id}"
  p= answer.title
  p= answer.body
/ - if current_user && !current_user.author?(answer)
/   .vote
/     .rating id="rating-#{answer.class.name.underscore}-#{answer.id}"
/       = "Rating: #{answer.rating}"
/
/     .vote-actions
/       = link_to 'Up', polymorphic_path(resource, action: :vote_up),
/               method: :put,
/               data: { type: :json },
/               remote: true, class: 'btn btn-primary btn-sm'
/       = link_to 'Down',
/               polymorphic_path(resource, action: :vote_down),
/               method: :put,
/               data: { type: :json },
/               remote: true, class: 'btn btn-danger btn-sm mx-1'
/       = link_to 'Cancel',
/               polymorphic_path(resource, action: :vote_cancel),
/               method: :delete,
/               data: { type: :json },
/               remote: true, class: 'btn btn-secondary btn-sm'
/
/     .links
/       - if answer.links.present?
/         p Links:
/         ul
/           - answer.links.each do |link|
/             div id="link_#{link.id}"
/               - if link.gist?
/                 li= link_to link.name, link.url, target: '_blank'
/                 - link.read_gist.each do |file, content|
/                   = content.content
/               - else
/                 li= link_to link.name, link.url, target: '_blank'
/
/     - if answer.files.attached?
/       - answer.files.each do |file|
/         p id="attachment_#{file.id}"
/           = link_to file.filename.to_s, url_for(file), target: '_blank'