- if current_user&.subscribed?(resource)
  = link_to 'Not notify about new answer', subscription_path(@subscription), method: :delete, remote: true
- elsif current_user
  = link_to 'Notify about new answer', question_subscriptions_path(resource), method: :post, remote: true
